.category-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 40px;
}

.sponsor-wrapper {
  margin: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: nowrap;
}

.sponsor-wrapper img {
  height: 40px;
  object-fit: contain;
}

.flex-nike {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
}

button {
  cursor: pointer;
}

.img-absolute-div {
  position: relative;
  background-size: contain;
  background-position: center;
  box-shadow: var(--box-shadow);
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 20em;
  background-color: rgba(34, 33, 33, 0.195);
  background-blend-mode: var(--background-blend);
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  height: 0;
  padding-bottom: 100%; /* Aspect ratio of 1:1 */

}

.img-absolute-div .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(82%); /* Adjust the percentage as needed */
}
.img-promo-div {
  gap: 3px;
  position: absolute;
  top: 3%;
  margin-left: 10px;
}

.ac-card {
  cursor: pointer;
}

.img-absolute-div {
  position: relative;
  background-size: contain;
  background-position: center;
  box-shadow: var(--box-shadow);
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 20em;
  background-color: rgba(34, 33, 33, 0.195);
  background-blend-mode: var(--background-blend);
  border-radius: 5px;
  width: 100%;
  z-index: 3;
  height: 0;
  padding-bottom: 100%; /* Aspect ratio of 1:1 */

}

.img-absolute-div .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-blend-mode: var(--background-blend);
}

.img-promo-div {
  gap: 3px;
  position: absolute;
  top: 3%;
  margin-left: 10px;
}
.cat-title {
  padding-left: 10px;
}
.promo-div {
  background-color: var(--bodyColor);
  padding: 5px 11.5px;
  color: var(--primary);
  font-weight: bold;
  font-size: small;
  border-radius: 2.5px;
}

.img-promo {
  background-color: #3c443f;
  color: var(--bodyColor);
  font-weight: 400;
}

.ac-card-details {
  padding: 20px 0;
}

.shop-circle {
  background-color: var(--bodyColor);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: var(--box-shadow);
  position: absolute;
  bottom: 3.5%;
  z-index: 10;
  left: 3.5%;
  transition: var(--animationSmooth);
}

.shop-circle:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
}

.ac-card-details h3 {
  font-size: 1em;
  line-height: 1.8;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
}

.ac-card-details p {
  font-weight: bold;
  text-transform: capitalize;
}

.ad-card img {
  display: block;
}

@media only screen and (max-width: 650px) {
  .category-section {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .img-absolute-div {
    min-height: 15em;
    object-fit: cover;
  }
  .promo-div {
    font-size: 10px;
  }
  .shop-circle {
    width: 35px;
    height: 35px;
  }

  .nav-icons {
    height: 17px;
  }
}
