.search-input {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  position: relative;
  min-width: 24rem;
  background: inherit;
  color: black;
  border: 0.6px solid #878585;
}

@media only screen and (max-width: 650px) {
  .search-input {
    display: none;
  }
}
@media only screen and (max-width: 770px) {
  .search-input {
    display: none;
  }
}
