.search-container {
  width: 100%;
  position: relative;
}

.search-input {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  position: relative;
  width: 100%;
  background: inherit;
  color: black;
  border: 0.6px solid #878585;
}

.search-icon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 20%;
  height: 20px;
}

@media only screen and (max-width: 770px) {
  .search-input {
    display: none;
  }

  .search-icon {
    display: block;
  }
}
