:root {
  --primaryGreen: #3c443f;
  --animationSmooth: 0.3s ease-in-out;
}

.promo-nav {
  background-color: var(--primaryGreen);
  padding: 13px;
  color: var(--bodyColor);
  width: 100%;
  text-align: center;
  position: relative;
}

.promo-nav > h1 {
  font-weight: 600;
  font-size: 11px;
}

.sm-account:hover .account {
  opacity: 1;
}
.x {
  position: absolute;
  right: 7px;
  width: 30px;
  cursor: pointer;
}

.promo-nav span {
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}

.head-text {
  text-transform: uppercase;
  color: var(--primaryGreen);
  line-height: 1.1;
  font-size: 27px;
  letter-spacing: -0.045em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons {
  width: 1.5rem;
  height: 1.3rem;
  color: var(--primaryGreen);
}

#sidebar {
  color: var(--primaryGreen);
}

.outer-div {
  min-height: 5rem;
  position: sticky;
  width: 100%;
  background-color: #f5f5f2;
  top: 0;
  z-index: 79;
  padding: 10px 20px;
  border-bottom: 1px solid #8c8c8c3f;
}

.inner-div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.div-one {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15.5px;
  color: var(--primaryGreen);
}

.div-one div {
  cursor: pointer;
  transition: var(--animationSmooth);
}

.div-one div:hover {
  transform: scale(1.1);
  color: var(--linkColor);
}

.div-two {
  width: 100%;
  flex-grow: 1;
  margin-left: 10px;
}

.fangs {
  height: 25px;
}

.div-three {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15.5px;
}

.bag-link {
  cursor: pointer;
  transition: var(--animationSmooth);
}

.bag-link:hover {
  transform: scale(1.1);
  color: var(--linkColor);
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-duration: var(--animationSmooth);
  color: inherit;
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 89;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-icon,
.acc-icon {
  width: 25px;
  height: 20px;
  color: inherit;
}

.placeholder {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.dontSbs {
  display: none;
}

@media only screen and (max-width: 780px) {
  .outer-div {
    position: sticky;
    top: 0;
    min-height: 4.5em;
  }
  .x {
    right: 4px;
  }
  .dontSbs {
    display: block;
  }
  .div-two {
    margin-left: 0;
  }
  .show-mobile {
    display: none;
  }

  .head-text {
    font-size: 20px;
  }
}
