/* Recommended Section Styles */
.recommended-section {
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}

.recommended-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--primary);
  font-weight: bold;
  overflow: hidden;
}

.recommended-query {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.recommended-flex {
  display: flex;
  overflow: hidden;
}

.recommended-flex button {
  margin-right: 10px;
  overflow: hidden;
}

.search-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.light-grey small {
  color: grey;
}

.relative-product {
  position: relative;
}
.color-grid {
  display: flex;
  gap: 5px;
}

.sidebar-label-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 25px;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: #d8d8d8;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.sidebar-label-container:hover .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #095334;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 3.4px;
  left: 3.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(234, 233, 233);
}

.sidebar-label-container input:checked ~ .checkmark::after {
  display: block;
  overflow: hidden;
}

.all {
  background: linear-gradient(#005dff, crimson);
}

.white {
  background: white;
  border: 0.1px solid black;
}

@media only screen and (max-width: 650px) {
  .checkmark {
    background-color: #a0a6a6;
  }

  .color-grid {
    display: none;
  }

  .search-div {
    display: none;
  }

  .recommended-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
  }

  .recommended-flex {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .recommended-flex button {
    display: flex;
    flex-grow: 1;
    margin-top: 5px;
    width: auto;
    min-width: auto;
  }

  .recommended-title {
    margin-bottom: 15px;
  }
}
