.hero {
  min-height: 70svh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}
.product-timer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-timer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid var(--bodyColor);
  border-radius: 5px;
  width: 50vh;
}

.white-Text{
  color: var(--bodyColor);
}
.pt-col{
  border: 1px solid var(--bodyColor);
  display: grid;
  grid-template-rows: 2fr .5fr;
  padding: 2px 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.pt-number{
  border-bottom: 2px solid white;
  width: 100%;
  padding: 0;
  color: var(--bodyColor);
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
}
.pt-number div{
  width: 100%;
}
.hero-inner-section {
  background-color: #f5f5f2;
  max-height: 90vh;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2px;
}

.hero-sales-text {
  padding: 2.5em;
  display: grid;
  gap: 0.5em;
}

.bcircle {
  background-color: #3f77e7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
  transition: all 0.3s ease-in-out; /* Added easing for smoother transition */
  line-height: 24px;
  text-decoration: underline;
  text-transform: uppercase;
}

.bcircle {
  background-color: #3f77e7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-content {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out; /* Added easing for smoother transition */
  min-width: 20px;
  height: 100%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article:hover .arrow-content {
  transform: rotate(-25deg);
}

.arrow-content {
  transform: rotate(45deg);
  transition: transform 0.3s;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative-img {
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-hero {
  display: flex;
  align-items: flex-start;
}

.salesShopImg {
  position: static !important;
  border: 2px solid var(--primaryGreen);
}

.salesShopImg-container {
  position: absolute;
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 10px;
  bottom: 3.5%;
  z-index: 10;
  left: 3.5%;
}

.reminder {
  border: none;
}

.salesShopImg-container p {
  font-size: 15px;
}

.hero-img {
  min-height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.reminderp {
  transition: all 0.4s ease;
  color: #f5f5f2;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 670px) {
  .hero {
    text-align: center;
  }

  .hero-sales-text p {
    text-align: left;
  }

  .hero-inner-section {
    display: block;
    max-height: fit-content;
    min-height: auto;
    height: auto;
  }

  .article {
    padding: 0;
    text-decoration: none;
    font-size: 15px;
  }
}
